[client]
default-character-set          = utf8
port            = 3306
socket          = /var/run/mysqld/mysql.sock

[mysql]
port                           = 3306
socket                         = /var/run/mysqld/mysql.sock
default-character-set          = utf8

[mysqld]
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/run/mysqld/mysql.sock
pid-file                       = /var/run/mysqld/mysql.pid

skip-host-cache
skip-name-resolve
skip-external-locking
max_connections = 2000
max_allowed_packet = 64M
table_open_cache = 2048

# Add by yongfu
explicit_defaults_for_timestamp = 1
lower_case_table_names         = 0
#lower_case_table_names        = 2
collation-server     = utf8_general_ci # Replaces utf8_general_ci
character-set-server = utf8            # Replaces utf8

# MyISAM #
key-buffer-size                = 32M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
#innodb                         = FORCE

# DATA STORAGE #
datadir                        = /data

# BINARY LOGGING #
log-bin                        = mysql-bin
binlog_format                  = mixed
expire-logs-days               = 14
sync-binlog                    = 1

server-id                      = 100
performance_schema             = 0
max_connect_errors             = 4294967295

# CACHES AND LIMITS #
# tmp-table-size               = 32M
# max-heap-table-size          = 32M
# query-cache-type             = 0
# query-cache-size             = 0
max-connections                = 1024
thread-cache-size              = 64
open_files_limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 512

# INNODB #
innodb_data_file_path          = ibdata1:200M:autoextend
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 256M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 2G

# LOGGING #
log-error                      = /logs/mysql-error.log
log-queries-not-using-indexes  = 0
slow-query-log                 = 1
slow-query-log-file            = /logs/mysql-slow.log
long_query_time                = 1

# general-log
# general-log-file               = /logs/mysql-queries.log
# log-output                     = file

[mysqldump]
quick
max_allowed_packet             = 32M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size                = 32M
sort_buffer_size               = 32M
read_buffer                    = 8M
write_buffer                   = 8M

[mysqlhotcopy]
interactive-timeout
expire_logs_days               = 10

[mysqld_safe]
open-files-limit               = 8192
